
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
 <fieldset id="loginarea" title="Account update">
   <legend id="loginarea">Account update</legend>
   <ol>
     <li>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
     </li>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
           <li>Currently waiting confirmation for: <%= resource.unconfirmed_email %> </li>
       <% end %>
      <li>
             <i>(leave blank if you don't want to change it)</i><br />
             <%= f.label :password %> 
              <%= f.password_field :password, autocomplete: "off" %>
      </li>
      <li>
        <%= f.label :password_confirmation %>
         <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </li>
      <li>
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </li>
      <li class="singleline">
        <%= f.submit "Update",:Id=>"updatebtn" ,:class => 'btn'%>
        <div class="backbtn"> <%= link_to "Back", products_path ,:class => 'btn backbtn',:id=>'updatebtn'%></div>
      </li>
    
   </ol>
 </fieldset>
  
<% end %>




