<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<fieldset id="loginarea" title="User registration">
    <legend id="loginarea">User registration</legend>
    <ol>
        <li>
          <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
        </li>
        <li>
          <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
        </li>
        <li>y
          <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </li>
        <li class="singleline">
          <%= f.submit "Sign up" ,:Id=>"updatebtn" ,:class => 'btn'%>
        </li>
            
    </ol>
  
</fieldset>

  
  
 
  
<% end %>

<%= render "devise/shared/links" %>
