<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
 <fieldset id="loginarea" title="Password reset">
   <legend id="loginarea">Password reset</legend>
   <ol>
     <li><%= f.label :email %></li>
     <li> <%= f.email_field :email, autofocus: true %></li>
     <li class="singleline">
        <%= f.submit "Send me reset password instructions",:id=>'resetbtn',:class=>"btn" %>
       <div id="resetshared"><%= render "devise/shared/links" %></div>
     </li>
   </ol>
 </fieldset>
 
<% end %>


