
<%= form_for(resource, as: resource_name, url: session_path(resource_name),:class=>"login") do |f| %>
<fieldset id="loginarea" title="Login area">
  <legend id="loginarea">Login area</legend>
  <ol>
    <li>
      <%= f.label :email %>
       <%= f.email_field :email, autofocus: true %>
    </li>
    <li>
      <%= f.label :password %>
       <%= f.password_field :password, autocomplete: "off" %>
    </li>
    <li class="singleline" id="remme">
       <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%>
    </li>
    <li class="singleline">
      <%= f.submit "Log in" ,:id=>'loginbtn',:class=>'btn'%>
      <div id="shared"><%= render "devise/shared/links" %></div>
    </li>
    
  </ol>
</fieldset>
<%-end-%>
  



