<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset id="productreg" title="Product registration">
   <legend>Product registration</legend>
  <ol>
    <li>
        <%= f.label :name %>
       <%= f.text_field :name %>
    </li>
    <li>
        <%= f.label :description%>
       <%= f.text_field :description,:multipart=>true %>
    </li>
    <li>
      <%= f.label :size%>
       <%= f.text_field :size%>
    </li>
    <li>
      <%= f.label :price%>
       <%= f.text_field :price%>
    </li>
    <li>
       <%= f.label :category %>
       <%= f.text_field :category %>
    </li>
    <li>
      <%= f.label :item_type %>
      <%= f.select :item_type,Product::PRODUCT_TYPES,prompt:'Select product type'%>
    </li>
   
    <li>
      <%= f.label :image%>
     <%= f.file_field :image%>
    </li>
     <li class="singleline">
      <%= f.label :featured %>
       <%= f.check_box :featured %>
    </li>
    <li class="singleline">
       <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' ,:id=>'btncancel'%>
    </li>
  </ol>
</fieldset>
<% end %>
