<%- model_class = Product -%>
<div class="page-header">
  <p id="pagetitle"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></p>
</div>
<%= render :partial => 'form' %>
