<%content_for :product_store do%>
<div class="page-header">
  <p id="pagetitle">Product Store</p>
</div>
<table class="table container-fluid">
  
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td rowspan=<%= if author_signed_in?
  "9" else "7" end %> id="store" class="container-fluid"> <%= image_tag product.image.url().to_s,:id=>"prodListing",:class=>"img-responsive",:size=>'120x70'  if product.image? %></td>
      <tr>
        <td id="collable">Product name:</td>
          <td><%= product.name %></td>
      </tr>
      <tr>
        <td id="collable">Product description:</td>
        <td><%= product.description %></td>
      </tr>
      <tr>
        <td id="collable">Size:</td>
        <td><%= product.size %></td>
      </tr>
      <% if author_signed_in? %>
      <tr>
         <td id="collable">Feature:</td>
         <td><%= product.featured %></td>
      </tr>
      <%end%>
      <tr>
        <td id="collable">Product category:</td>
        <td><%= product.category %></td>
      </tr>
      <tr>
        <td id="collable">Item type:</td>
        <td><%= product.item_type %></td>
      </tr>
      <tr>
        <td id="collable">Price(KES):</td>
        <td> <span class="badge badge-success" id="itemPrice"><%= product.price %>/=</span></td>
      </tr>
      <% if author_signed_in? %>
      <tr>
        <td>
           <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-mini edit' %>
        </td>
        <td>
         
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <%end%>
      
    <% end %>
      <% if author_signed_in? %>
      <tr>
        <td colspan="3">
          <div id="newprod">
           <%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' ,:id=>"newprod" %>
          </div>
        </td>
      </tr>
      <%end%>
  </tbody>
</table>
<%if @products.count>4%>
  <div class="well">
  <ul class="pager">
      <li class="btn-mini"><%=will_paginate @products,:container=>false,remote: true,:authenticity_token => true%></li>
   </ul>
</div>
<%-end-%>
<%end%>
<%content_for :new_arrivals do%>
<div class="page-header">
  <p id="pagetitle">New arrivals</p>
</div>
   <div id="slider1_container"   style="position:  relative"  >
      
       <!-- Slides Container -->
       <div u="slides" id="slideshow">
        <% @new.each do |product| %>
       <div>   
          <%= image_tag product.image.url().to_s,:u=>"image",:class=>"img-responsive"%>
         <div u="caption" t="transition_name1" style="position: absolute; top: 30px; left: 30px; width:80%;height: 50px;font-weight: bolder">
           <span class="btn" id="Readmore"><%=link_to("View",product_path(product) ,:id=>"prodlink",:use_rails_ajax => false)%></span>
         </div>
       
       </div>
       <%end%>      
         <!-- Arrow Left -->
        <span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 158px; left: 8px;">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 158px; right: 8px">
        </span>
        <!-- Arrow Navigator Skin End -->
       
       </div>
</div>
<%end%>
<%content_for :about_us do%>   
 <p id="pagetitle">About us</p>
            <div class="well">
    <p>
       <span class="badge"> Hekemje Designs&TRADE;</span>
    </p>
    <div id="ourinfo" >
      <p>
      Hekemje designs is a place where fashion knows no age, size or gender. 
      It was founded in 2012 and is currently located in Nairobi. 
      Since 2012, it has focused on dealing with the various complexities 
      facing modern men and women. It was founded to suite all specification 
      and tastes and at the end makes you feel good and comfortable in 
      your own skin, no matter your skin or shape. It is a place where
      you can order, shop, and book whatever outfit, be it Africanized 
      clothes, African fused clothes, or even a pure westernized but unique
      designs under one roof. We also deal in accessories and handbags. 
      We also deal with fashion consultancy and deal in clothes alterations 
      to fit and get the perfect, desired look you were looking for.  
      For more information you can contact us on our facebook page:
      Hekemje African Design or our contacts below.
      </p>
       <div>
       <p>
       <span class="badge">PRODUCTS AND SERVICES</span>
    </p>
     <p>
       <span class="badge">SERVICES</span>
    </p>
    <ol>
        <li>Cloth alterations </li>
        <li>Custom made designs (Vitenges/Western)</li>
        <li>Fashion Consultancy and Buying Tips</li>
        <li>African Fabrics (Vitenges and Kangas)</li>
      </ol>
     <p>
       <span class="badge">PRODUCTS</span>
    </p>
    <ol>
      <li>Custom made designs </li>
      <li>Accessories and Handbags</li>
      <li>Fabrics of Purely African descent</li>
    </ol>
    </div>
    </div>
    </div>     
<%end%>


 


