<div class="ProductStore">
  <%- model_class = Product -%>
<div class="page-header">
  <p id="pagetitle"><%=t '.title', :default =>  @product.name  %></p>
</div>
<dl class="dl-horizontal">
  <table class="table container-fluid">
    <tbody>
      <tr>
        
        <td rowspan=<%= if author_signed_in?
  "8" else "6" end %>  class="container-fluid"> <%= image_tag @product.image.url().to_s,:id=>"prodListing" if @product.image? %></td>
      <tr>
      <tr>
        <td><strong><%= model_class.human_attribute_name(:description) %>:</strong></td>
       
        <td><%= @product.description %></td>
      </tr>
      <tr>
        <td>
          <strong><%= model_class.human_attribute_name(:category) %>:</strong>
        </td>
        
        <td>
          <%= @product.category %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <%= model_class.human_attribute_name(:item_type) %>:
          </strong>
        </td>
       
        <td>
            <%= @product.item_type %>
        </td>
      </tr>
      <%if author_signed_in? %>
      <tr>
        <td>
          <strong><%= model_class.human_attribute_name(:featured) %>:</strong>
        </td>
        
        <td>
          <%= @product.featured %>
        </td>
      </tr>
      <%end%>
      <tr>
        <td>
          <strong><%= model_class.human_attribute_name(:price) %> KES:</strong>
        </td>
       
        <td>
          <span class="badge badge-success" id="itemPrice"> <%= @product.price %>/=</span>
        </td>
      </tr>
      <% if  author_signed_in?%>
      <tr>
       <td>
           <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn' %>
        </td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
        </td>
       
      </tr>
      <%end%>
    </tbody>
  </table>
</dl>

</div>

