<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hekemje" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  
  </head>
  <body>
     <div id="banner"  class ="container" >
      <%=image_tag("logo.png")%>
      <p id="logo">HEKEMJE DESIGNS  </p>
     
      <div id="slogan">
        <p> Quality african brand!</p>
      </div>
    </div>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div id="itemcarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <%=image_tag("circles.jpg",:size=>"600x500",:class=>"img-responsive")%>
          <div class="container">
            <div class="carousel-caption text-centered">
             
            </div>
          </div>
        </div>
        <div class="item"><%=image_tag("noise_temp.png",:size=>"700x600",:class=>"img-responsive")%></div>
      </div>
      <a class="carousel-control left" id="carousel-navleft" href="#itemcarousel" data-slide="prev" ></a>
      <a class="carousel-control right" id="carousel-navright" href="#itemcarousel" data-slide="next"></a>
    </div>
      </div>
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Hekemje</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
           <li><%= link_to "Home", root_url %></li>
              <li><%= link_to "Gents", "/path2"  %></li>
              <li><%= link_to "Ladies", "/path3"  %></li>
               <li><%= link_to "Children", "/path3"  %></li>
               <li><%= link_to "Gallery", "/path3"  %></li>
                <li> 
                <%if author_signed_in?%>
                <%=drop_down "Account menu"  do %>
               <%=menu_item "Edit account",edit_author_registration_path%>
               <%=menu_item "Products",products_path%>
                <li><%=link_to "Logout",destroy_author_session_path,:method=>"delete"%></li>
               <%end%>
                <%else%>
                <%=link_to "Login",new_author_session_path%>
               <%end%>
                </li>
          </ul>
        </div>
      </div>
    </div>
<%= bootstrap_flash %>
    <div class="container-fluid" id="Pagemain">
          <%=yield%>
        
      <div class="row-fluid col-lg-4" id="ProductStore">
         <div class="row-fluid">
         <%=yield :new_arrivals%>
           <%=yield :about_us%>
      </div>
        
      </div>
      <div class="row-fluid col-lg-8">
          <%=yield :product_store%>
      </div>
        </div>
  
    <div class="row-fluid">
       <footer>
        <p>&copy; Company 2014</p>
         
      </footer>
    </div>
       
  </body>
   <%= javascript_include_tag "application" %>
</html>
